<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:category_name]} type="text" label="Category name" />
  <.input field={f[:color_code]} type="color" label="Color code" />
  <:actions>
    <.button>Save Category</.button>
  </:actions>
</.simple_form>
