<.header>
  Todo List
  <:subtitle>
    It shows tasks that have not yet been completed.
  </:subtitle>
</.header>

<.table id="tasks" rows={@tasks}>
  <:col :let={task} label="Title"><%= task.title %></:col>
  <:col :let={task} label="Date"><%= task.date %></:col>
</.table>
