<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "BlogApp" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-between mt-2">
      <li class="hover:underline font-extrabold">
        <.link href={~p"/"}>Home</.link>
      </li>
      <div class="flex gap-4 items-center justyfy-end">
        <%= if @current_account do %>
          <li class="text-sm font-semibold hover:underline">
            <.link href={~p"/accounts/profile/#{@current_account.id}"}>
              <%= @current_account.email %>
            </.link>
          </li>
          <li class="text-sm font-semibold hover:underline">
            <.link href={~p"/accounts/log_out"} method="delete">
              Log out
            </.link>
          </li>
          <li class="text-sm font-semibold hover:underline">
            <.link
              href={~p"/articles/new"}
              class="rounded-lg bg-gray-200 hover:bg-gray-400 px-8 py-2 block font-semibold"
            >
              Post
            </.link>
          </li>
        <% else %>
          <li class="text-sm font-semibold hover:underline">
            <.link href={~p"/accounts/register"} >
              Register
            </.link>
          </li>
          <li class="text-sm font-semibold hover:underline">
            <.link href={~p"/accounts/log_in"}>
              Log in
            </.link>
          </li>
        <% end %>
      </div>
    </ul>
    <%= @inner_content %>
  </body>
</html>
