<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:money]} type="number" label="Money" />
  <.input field={f[:date]} type="date" label="Date" />
  <:actions>
    <.button>Save Income</.button>
  </:actions>
</.simple_form>
