<.header>
  New Income
  <:subtitle>Use this form to manage income records in your database.</:subtitle>
</.header>

<.income_form changeset={@changeset} action={~p"/incomes"} />

<.back navigate={~p"/incomes"}>Back to incomes</.back>
